.container-main {
  height: 100vh;
}
.card-custom {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  align-self: center;
}
.card-custom .card-img-top {
  height: 60%;
  width: 80%;
  border-radius: 10px;
}
.row-custom {
  height: 100vh;
}
